{% extends "base.html" %}

{% block content %}

<h1 class="mt-2 display-2 mx-auto text-center">ya allah</h1>
<form method="GET" action="/search">
    <div class="form-group mx-auto mb-0">
        {{ form.query(placeholder="nyari apa om", class="form-control") }}
    </div>
    <div class="form-check form-check-inline mx-auto">
        {% for subfield in form.searchtype %}
            {{ subfield }}
            <div class="ml-1 mt-2 mr-1">{{ subfield.label }}</div>
        {% endfor %}
    </div>
</form>
<a href="{{ url_for('upload') }}"><button class="btn btn-primary">Upload Files</button></a>

{% endblock %}