.page-footer {
    background-color: darkgrey;
    height: 2rem;
}

p {
    font-size: 1rem;
}

a { 
    color: #000000; 
} /* CSS link color */

table { 
    table-layout:fixed;
}

td { 
    overflow: hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word;
}

.form-check.form-check-inline.mx-auto{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ml-1.mt-2.mr-1{
    padding-left: 10px;
    padding-right: 10px;
}